
  <div class="card">
    <div class="d-flex justify-content-center mt-3">
      <img
        style="max-width: 150px"
        src="../../../../assets/logo/user.svg"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="card-body">
      <h5 class="card-title text-center mb-3">Yeifren Garcia</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-user"></i> yeifreng</li>
        <li class="list-group-item">
          <i class="fa fa-envelope"></i> yeifrenjosegmail.com
        </li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>
  </div>
