<section class="bg-light">
  <div class="container min-vh-100 d-flex align-items-center justify-content-center mb-3">
    <div class="row shadow overflow-hidden bg-white">
      <!-- Columna izquierda: Formulario de login -->
      <div class="col-md-6 p-5">
        <app-form-login></app-form-login>
      </div>

      <!-- Columna derecha: Mensaje de bienvenida -->
      <div
        class="col-md-6 bg-primary text-white p-5 d-flex flex-column align-items-center justify-content-center"
      >
        <app-register-login></app-register-login>
      </div>
    </div>
  </div>
</section>
