<section class="container mt-4 mb-3">
  <div class="card">
    <div class="card-header">
      <h6 class="text-muted"><strong>Listado de Ingresos</strong></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
      <table class="table table-striped table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Categoria</th>
            <th scope="col">Descripción</th>
            <th scope="col">Monto</th>
            <th scope="col">Fecha</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (income of listIncome(); track income.id) {
          <tr>
            <th scope="row">{{income.id}}</th>
            <td>{{income.category}}</td>
            <td>{{income.description}}</td>
            <td>{{income.amount}}</td>
            <td>{{income.date}}</td>
            <td><a href="" class="btn btn-success"><i class="fa fa-pen-to-square"></i></a>&nbsp;<a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    </div>
  </div>
</section>
