<section>
  <hr>
  <div class="py-4">
    <h6 class="text-muted">Gastado / Presupuestado</h6>
  </div>
  <div class="budget-card">
    <div class="budget-item">
      <h4><strong>Hipoteca</strong></h4>
      <span class="budget-text">$231000 / $231000</span>
    </div>
    <div class="budget-item">
      <h4><strong>Comida</strong></h4>
      <span class="budget-text">$431000 / $500000</span>
    </div>
    <div class="budget-item">
      <h4><strong>Servicios</strong></h4>
      <span class="budget-text">$231000 / $300000</span>
    </div>
  </div>
</section>
