<section class="container-fluid d-flex justify-content-center pb-4">
  <div class="card" style="width: 500px">
    <div class="card-header">
      <h6 class="text-muted"><strong>Actualizar Categoria</strong></h6>
    </div>
    <div class="card-body">
      <form action="">
        <div class="row">
          <label for="inputName" class="col-sm-4 col-form-label">Nombre:</label>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Agrear una categoria..." aria-label="categoria" aria-describedby="buttonCategory"/>

            <button class="btn btn-primary" type="button" id="buttonCategory">

              <i class="fa-solid fa-plus"></i>

            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
