

<div class="d-flex flex-column min-vh-100">
<app-navbar></app-navbar>
<section class="container-fluid">
    <div class="py-4">
      <h5 class="text-muted">Ingresos</h5>
      <hr />
    </div>
  </section>

  <!-- ---------------------------------------------- Seccion uno formulario de agregar ingresos -->

<app-add-income (newIncome)="addIncome($event)"></app-add-income>

<!-- -------------------------------------------------- seccion dos tabla de listado de ingresos -->

<app-list-income [listIncome]="listIncome()"></app-list-income>

<app-footer class="mt-auto"></app-footer>
</div>
