<section>
  <div class="py-4">
    <h6 class="text-muted">Transacciones recientes</h6>
  </div>
  <div class="stats-grid shadow-table d-flex justify-content-around">
    <div class="table-responsive">
      <h6 class="text-muted"><strong>Ingresos</strong></h6>
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th scope="col">Concepto</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Salario</td>
            <td>$500000</td>
          </tr>
          <tr>
            <td>Comision</td>
            <td>$300000</td>
          </tr>
          <tr>
            <td>Bonos</td>
            <td>$200000</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <h6 class="text-muted"><strong>Gastos</strong></h6>
      <table class="table table-borderless table-hover">
        <thead>
          <tr>
            <th scope="col">Concepto</th>
            <th scope="col">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>hipoteca</td>
            <td>$300000</td>
          </tr>
          <tr>
            <td>Servicios</td>
            <td>$200000</td>
          </tr>
          <tr>
            <td>Comida</td>
            <td>$300000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
