<section class="mb-3">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-dark border-bottom border-body mi-navbar" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand"
        ><img src="../../../../assets/logo/logo.png" alt="" style="width: 50px"
      /></a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/home" routerLinkActive="active"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/transactions"
              routerLinkActive="active"
              >Transacciones</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/budgets" routerLinkActive="active"
              >Presupuesto</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reports" routerLinkActive="active"
              >Reportes</a
            >
          </li>
        </ul>

        <div class="d-flex">
          <div class="contenedor">
            <img
              src="../../../../assets/logo/user.svg"
              class="me-2"
              alt=""
              style="width: 50px; cursor: pointer"
            />
            <div class="menu-desplegable">
              <a routerLink="/users">Yeifren Garcia</a>
              <a href="#"><i class="fa fa-right-from-bracket"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

</section>
