<div>
  <h3 class="text-muted mb-3">Cambiar contraseña</h3>
</div>
<form class="">
  <div class="mb-3">
    <label
      for="actual"
      class="form-label text-muted"
      style="font-size: 0.875rem"
      ><strong>Contraseña actual</strong></label
    >
    <input
      type="password"
      class="form-control"
      id="actual"
      placeholder="********"
    />
  </div>
  <div class="mb-3">
    <label for="nueva" class="form-label text-muted" style="font-size: 0.875rem"
      ><strong>Nueva contraseña</strong></label
    >
    <input
      type="password"
      class="form-control"
      id="nueva"
      placeholder="********"
    />
  </div>
  <div class="mb-3">
    <input
      type="button"
      class="form-control btn btn-outline-dark"
      value="Cambiar contraseña"
    />
  </div>
</form>
