
<section class="bg-light">
<div class="container min-vh-100 d-flex align-items-center justify-content-center">
    <div class="row shadow rounded-3 overflow-hidden bg-white" style="width: 60%;">
        <!-- Columna del formulario de registro -->
        <div class="col-md-8 p-5 mx-auto">
            <div class="text-center mb-4">
                <h2><i class="fas fa-user-plus me-2"></i>Crear cuenta</h2>
                <p class="text-muted">Completa tus datos para registrarte</p>
            </div>
<!-- ----------------------------------- formulario de registro -->

            <app-form-register></app-form-register>

        </div>
    </div>
</div>
</section>
