<div>
  <h3 class="text-muted mb-3">Editar perfil</h3>
</div>
<form class="">
  <div class="row g-3 mb-3">
    <div class="col-auto">
      <label
        for="nombre"
        class="form-label fs-sm text-muted"
        style="font-size: 0.875rem"
        ><strong>Nombre</strong></label
      >
      <input
        type="text"
        class="form-control"
        id="nombre"
        placeholder="Nombre"
      />
    </div>
    <div class="col-auto">
      <label
        for="apellido"
        class="form-label text-muted"
        style="font-size: 0.875rem"
        ><strong>Apellido</strong></label
      >
      <input
        type="text"
        class="form-control"
        id="apellido"
        placeholder="Apellido"
      />
    </div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label text-muted" style="font-size: 0.875rem"
      ><strong>Email</strong></label
    >
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <input
      type="button"
      class="form-control btn btn-outline-dark"
      value="Guardar cambios"
    />
  </div>
</form>
