

<div class="d-flex flex-column min-vh-100">
<app-navbar></app-navbar>
<section class="container-fluid">
  <div class="py-4">
    <h5 class="text-muted">Categoria</h5>
    <hr />
  </div>
</section>

<!-- -------------------------------------------------- formulario de agregar categoria -->

<app-add-category></app-add-category>

<!-- -------------------------------------------------- tabla de listado de categorias -->

<app-list-category></app-list-category>


<app-footer class="mt-auto"></app-footer>
</div>
