<section class="container-fluid">
  <div class="py-4">
    <h5 class="text-muted">Categoria</h5>
    <hr />
  </div>
</section>

<!-- -------------------------------------------------- seccion uno formulario de categoria -->

<section class="container-fluid d-flex justify-content-center pb-4">
  <div class="card" style="width: 500px">
    <div class="card-header">
      <h6 class="text-muted"><strong>Categoria</strong></h6>
    </div>
    <div class="card-body">
      <form action="">
        <div class="row">
          <label for="inputName" class="col-sm-4 col-form-label">Nombre:</label>

          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Agrear una categoria..." aria-label="categoria" aria-describedby="buttonCategory"/>

            <button class="btn btn-primary" type="button" id="buttonCategory">

              <i class="fa-solid fa-plus"></i>

            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<!-- -------------------------------------------------- seccion dos tabla de categorias -->

<section class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h6 class="text-muted"><strong>Listado de Categorias</strong></h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
      <table class="table table-striped table-hover text-center">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Categoria</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Servicios</td>
            <td><a href="" class="btn btn-success"><i class="fa fa-pen-to-square"></i></a>&nbsp;<a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Comida</td>
            <td><a href="" class="btn btn-success"><i class="fa fa-pen-to-square"></i></a>&nbsp;<a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Bancos</td>
            <td><a href="" class="btn btn-success"><i class="fa fa-pen-to-square"></i></a>&nbsp;<a href="" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>



</section>
