


<div class="d-flex flex-column min-vh-100">
<app-navbar></app-navbar>
<section class="container">
  <div class="row pt-3 d-flex justify-content-between">
    <!-- ------------------------------- seccion uno perfil de usuario -->
    <div class="col-sm-12 col-md-4 col-lg-3 mb-3">
    <app-profile></app-profile>
    </div>

        <!-- ------------------------------- seccion dos actualizar perfil de usuario -->

    <div class="col-sm-12 col-md-4 col-lg-5 mb-3">
      <app-update-profile></app-update-profile>
    </div>

        <!-- ------------------------------- seccion tres cambio de contraseña de usuario -->
    <div class="col-sm-12 col-md-4 col-lg-3 mb-3">
      <app-pwd-profile></app-pwd-profile>
    </div>

  </div>
</section>

<app-footer class="mt-auto"></app-footer>
</div>
