<section class="container-fluid d-flex justify-content-center pb-4">
  <div class="card" style="width: 500px">
    <div class="card-header">
      <h6 class="text-muted"><strong>Gasto</strong></h6>
    </div>
    <div class="card-body">
      <form action="">
        <div class="row">
          <label for="inputName" class="col-sm-4 col-form-label">Categoria:</label>

          <div class=" input-group mb-3">
            <select class="form-select" aria-label="Default select example">
              <option selected>Seleccione una categoria...</option>
              <option value="1">Servicios</option>
              <option value="2">Comida</option>
              <option value="3">Bancos</option>
            </select>
          </div>

          <label for="inputName" class="col-sm-4 col-form-label">Descripción:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ej: Pago de la energia..."/>
          </div>

          <label for="inputName" class="col-sm-4 col-form-label">Monto:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Valor pagado..."/>
          </div>

          <label for="inputName" class="col-sm-4 col-form-label">Fecha:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="dd/mm/aaaa"/>
          </div>

        </div>
      </form>
    </div>
  </div>
</section>
