            <form>
                <div class="row">
                    <!-- Nombre -->
                    <div class="col-md-6 mb-3">
                        <label for="nombre" class="form-label">Nombre*</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ej: Juan" required>
                    </div>
                    <!-- Apellido -->
                    <div class="col-md-6 mb-3">
                        <label for="apellido" class="form-label">Apellido*</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Ej: Pérez" required>
                    </div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Correo electrónico*</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@correo.com" required>
                </div>

                <!-- Contraseña -->
                <div class="mb-3 position-relative">
                    <div class="mb-4">
                      <label for="password" class="form-label">Contraseña*</label>
                      <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                      <small class="text-muted">Debe contener letras, números y símbolos</small>
                    </div>

                </div>

                <!-- Confirmar Contraseña -->
                <div class="mb-4">
                    <label for="confirmPassword" class="form-label">Confirmar contraseña*</label>
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirma tu contraseña" required>
                </div>

                <!-- Términos y condiciones -->
                <div class="mb-4 form-check">
                    <input type="checkbox" class="form-check-input" id="terminos" required>
                    <label class="form-check-label" for="terminos">Acepto los <a href="#">términos y condiciones</a></label>
                </div>

                <!-- Botón de registro -->
                <button type="submit" class="btn btn-primary w-100 py-2 mb-3">Registrarse</button>

                <!-- Enlace a login -->
                <p class="text-center mt-3">
                    ¿Ya tienes cuenta? <a href="#" class="text-decoration-none">Inicia sesión</a>
                </p>
            </form>
